body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.TitleGame {
    margin-bottom: 200px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 20px;
}

#timer {
    font-size: 1.5rem;
    font-weight: bold;
}

#startButton {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: none;
}

.card img.hidden {
    display: none;
}

.card.flipped img {
    display: block;
}

#messageBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 108, 250);
    padding: 60px 70px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: none;
}

#messageBox p {
    margin: 0;
    color: #f0f0f0;
}

#messageBoxLose {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 108, 250);
    padding: 80px 90px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    display: none;
}

#messageBoxLose p {
    margin: 0;
    color: #f0f0f0;
}

.hidden {
    display: none;
}